/* NAVBAR */

.navbar-custom {
  background-color: aquamarine;
  height: 11rem;
}

.btn-custom-top {
  background-color: azure;
  border: 1px solid black;
  width: 7rem;
  height: 4rem;
}

.btn-custom-bot {
  background-color: azure;
  border: 1px solid black;
  width: 5.8rem;
  height: 4rem;
  margin-right: -1.25rem;
  margin-top: 0.8rem;
}

/* PLAN MAIN PAGE */

.plan-container {
  background-color: bisque;
  border: 1px solid black;
  /* height: 10rem; */
  border-radius: 1rem;
  margin: 1rem;
  display: grid;
}

.date {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin: auto;
}

.plan-container-element {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.plan-container-element-border-bottom {
  border-bottom: 1px solid black;
}

.meal-type {
  padding: 0;
}

.meal-name {
  padding: 0;
  margin-left: 1.7rem;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card-self {
  margin: auto;
  height: 290px;
}

.btn-self {
  height: 1.75rem;
  padding-top: calc(-1rem);
  margin-left: 4.5rem;
}

.card-title {
  max-height: 4.5rem;
  overflow: hidden;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  width: 178px;
  height: 150px;
}
